.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.headshot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  padding: 1rem 0;
  background-color: #415F80;
  color: #C0DEFF;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #C0DEFF;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #81BEFF;
}

